html {
  font-size: 10px;
}
body {
  margin: 0;
}

h1,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 576px) {
  html {
    font-size: 7px;
  }
}
